@import "tailwindcss";
@import "tw-animate-css";

@plugin '@tailwindcss/typography';

@theme {
    --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(93.88% 0.033 300.19);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(70.28% 0.1753 295.36);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 2px 4px 0px 0px var(--border);
  --chart-1: #A985FF;
  --chart-2: #00D696;
  --chart-3: #FACC00;
  --chart-4: #FF4D50;
  --chart-5: #0099FF;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(30.14% 0.0826 296.5);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(70.28% 0.1753 295.36);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 2px 4px 0px 0px var(--border);
  --chart-1: #A985FF;
  --chart-2: #00BD84;
  --chart-3: #E0B700;
  --chart-4: #FF6669;
  --chart-5: #008AE5;
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 2px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -2px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 700;
  --font-weight-heading: 900;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply font-base text-foreground bg-background;
  }

  h1, h2, h3, h4, h5, h6{
    @apply font-heading;
  }
}
