---
import '../styles/global.css'
---

<!doctype html>
<html
  lang="en"
  class="
    bg-fixed bg-no-repeat
  "
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Trevor Hibblen</title>
    <script defer async src="https://www.google.com/recaptcha/api.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link crossorigin rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" as="font" type="font/ttf" crossorigin href="/fonts/Inter-VariableFont_opsz,wght.ttf">
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap">
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Title';
    font-display: swap;
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('woff2');
  }

  :root,
  html,
  body,
  #container {
    font-family: 'IBM Plex Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
  }
  .prose {
    font-family: 'IBM Plex Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .title {
    font-family: 'Title', Impact, Haettenschweiler, 'Arial Narrow Bold', GeneralSans, sans-serif;
  }
  .app-component {
    font-family: 'IBM Plex Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .card, .card-header, .card-title, .card-action, .card-content, .card-footer {
    z-index: 10;
  }

  body {
    overflow-x: hidden;
  }
</style>

<script src="../lib/fout-fade.ts"></script>
<script src="../lib/dark-mode.ts"></script>
